<%- include('../views/includes/head.ejs') %>   
<body>
    
    <header><img id="logo" src="https://decoramostumundo.com/wp-content/uploads/2021/11/CONSULTORIO-PSICOLOGICO-2-1200x675.jpg" 
      width="100%" height="300" alt="bar"></header>
    <nav>
      <div class="nav-wrapper  deep-purple darken-4">
        <a class="btn  deep-purple darken-1 left-align" href="http://localhost:3000/info">Regresar a casa</a>
        <a href="#" class="brand-logo center">El consultorio</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

      </ul>
      </div>
    </nav>

    
    <div class="container">
        <!-- Page Content goes here -->

      <blockquote>Este es el consultorio</blockquote>

      <img src="https://i.ytimg.com/vi/hmSFMOgnWNI/maxresdefault.jpg" 
      width="450" heigth= "150" alt="La nutria terapeuta"><br>

    
      <a class="btn  deep-purple darken-1 left-align" 
      href="https://www.youtube.com/watch?v=hmSFMOgnWNI">Aquí lo atendera nuestro especialista</a><br><br>

      <p>Si no le sirvio de nada la consulta, puede desahogar sus penas en nuestro bar.</p>
      <a class="btn  deep-purple darken-1 left-align" 
      href="http://localhost:3000/papu/bar">Ir al papu bar</a><br><br>
      <br>
      
        <div id="contenedor_imagen" width="200">
          <img src="media/triste.jpg" alt="Triste" width="200">
        </div>
        <a class ="waves-effect waves-light btn  deep-purple darken-1"
        id="cambiar_animo">Fachero</a>
      
        <br><br>
      <footer class="page-footer deep-purple darken-4">
        <div class="container">
            
        </div>
        <div class="footer-copyright">
            <div class="container">
            <p>A01735676<br/>
            © Tecnológico de Monterrey</p>
            </div>
        </div>
    </footer>

<%- include('../views/includes/foot.ejs') %>