<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/color.css"  media="screen,projection"/>
    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header><img id="logo" src="https://pbs.twimg.com/media/Fa2Z6LWXoAA8mVH?format=jpg&name=medium" width="900" height="350" alt="casa"></header>
    <nav>
      <div class="nav-wrapper green">
      <a href="#" class="brand-logo center"><i class="material-icons">local_florist</i>La casa de las nutrias</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         
      </ul>
      </div>
    </nav>

    
    <div class="container">
        <!-- Page Content goes here -->

        <p>Hecho por José Eduardo Díaz Maldonado</p>
        <blockquote>Bienvenido a la casa de las Nutrias.</blockquote>
        <p><i class="material-icons">local_bar</i>Ir al papu bar
        <b><a href=http://localhost:3000/papu/bar>Ir</a></b>
        </p>
        <p><i class="material-icons">airline_seat_recline_extra</i>Ir al consultorio
        <b><a href=https://code.visualstudio.com>Ir</a></b>
        </p>
        
        <div class="card-panel green center white-text">
          <h5>Las Nutrias</h5>
        </div>

        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image hoverable">
                <img class = "responsive-img" src="media/nutria.jpeg">
                <span class="card-title">Nutria</span>
              </div>
              <div class="card-content">
                <p>Amiga de todos, pero esconde un gran secreto.</p>
              </div>
              <div class="card-action">
                <a href="#">Conoce más</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image hoverable">
                <img class = "responsive-img" src="media/sol.jpg">
                <span class="card-title">Parce Nutria</span>
              </div>
              <div class="card-content">
                <p>Es colombiana.</p>
              </div>
              <div class="card-action">
                <a href="#">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <a class ="waves-effect waves-light btn"
        id="cambiar_animo">Fachero</a>
        <div id="contenedor_imagen" width="200">
          <img src="media/triste.jpg" alt="Triste" width="200">
        </div>
      </div>

      <br>
      <footer class="page-footer green">
        <div class="container">
            
        </div>
        <div class="footer-copyright">
            <div class="container">
            Esta pagina ha sido creado gracias a  <a href=https://materializecss.com class="pink-text hoverable"> Materialize </a>
            <p>A01735676<br/>
            © Tecnológico de Monterrey</p>
            </div>
        </div>
    </footer>



    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/js copy.js"></script>
    <script>M.AutoInit();</script>
  </body>
</html>
      