<%- include('../views/includes/head.ejs') %>   
    <body class="yellow-text text-darken-2 background grey darken-4 ">
    <nav>
        <div class="nav-wrapper  pink darken-4">
            <a class="btn pink darken-2 left-align" href="http://localhost:3000/info">Regresar a casa</a>
            <a href="#" class="brand-logo center">Preguntas a responder</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        </ul>
        </div>
    </nav>
    
    <br>
    <div class = "container">

        <ul class="collapsible">
            <li>
              <div class="collapsible-header black-text">Laboratorio 12</div>
              <div class="collapsible-body"><span>
                <h5>¿Qué otros templating engines existen para node?</h5>
                <p class="white-text">Existen varios como Pug (antes conocido como Jade), Handlebars, Eta, 
                    twing, LiquidJS, Blade, whiskers, pero el seleccionado para trabajarlo
                    en clase es EJS.</p>
                
                <h5>Referencias</h5>
                <a href="https://expressjs.com/en/resources/template-engines.html">Lista de template engines</a><br>
                <a href="https://pugjs.org/api/getting-started.html">Pug</a><br>
                <a href="https://handlebarsjs.com/">Handlebars</a>
              </span></div>
            </li>
            <li>
              <div class="collapsible-header black-text">Laboratorio 13</div>
              <div class="collapsible-body"><span>
                <h5>¿Qué beneficios encuentras en el estilo MVC?</h5>
                <p class="white-text"></p>

                <h5>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h5>
                
                <h5>Referencias</h5>
              </span></div>
            </li>


<%- include('../views/includes/foot.ejs') %>