<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/color.css"  media="screen,projection"/>
    

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper  indigo darken-3">
      <a href="#" class="brand-logo center"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         
      </ul>
      </div>
    </nav>

    
    <div class="container">
        <!-- Page Content goes here -->

        <h2>¿Qué vas a querer el día de hoy?</h2>
        <form action="bar" method="POST">
          <fieldset>
            <legend>Menu:</legend>
            <p>Cerveza <br> Vino <br> Tequila <br> </p>
            <label for ="Orden">Quiero<input type="text" name="Orden" id="Orden">
          </fieldset>
          <input type="submit" value="Ordenar">
        </form>
        <br><img src="https://c.tenor.com/mzRXpX4RnZsAAAAd/nutria-dedsafio.gif" width="250" heigth= "150" 
        alt="papunutria"><br>
        


        
      


      <br>
      <footer class="page-footer  indigo darken-3">
        <div class="container">
            
        </div>
        <div class="footer-copyright">
            <div class="container">
            Esta pagina ha sido creado gracias a  <a href=https://materializecss.com class="pink-text hoverable"> Materialize </a>
            <p>A01735676<br/>
            © Tecnológico de Monterrey</p>
            </div>
        </div>
    </footer>



    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/js copy.js"></script>
    <script>M.AutoInit();</script>
  </body>
</html>